<app-course-composite [currentCourse]="course" [courseList]="courseList" [courseId]="'1'" [areaId]="'1'"></app-course-composite>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        stuff..
                    </div>
                </div>
            </div>
  
        </div>
        <div class="row">
          row...
          
        </div>
    </div>
  </div>
  
